body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

p {
    font-size: 30px;

}

.help-section {
    text-align: center;
    text-size-adjust: 20px;
    padding: 5%;
    color: whitesmoke;
}

.background-image {
    background-image: url(images/donation6.jpg);
    background-size: cover;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.donate-amount {
    text-align: center;
}